{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">Admin Dashboard</h1>
<h2>Movies</h2>
<ul class="list-group mb-4">       
    {% for movie in movies %}
        <li class="list-group-item">{{ movie.title }} - Genre: {{ movie.genre.name }}</li>
    {% endfor %}
</ul>
<h2>Showtimes</h2>
<ul class="list-group mb-4">
    {% for show in showtimes %}
        <li class="list-group-item"> {{ show.movie.title }} | {{ show.start_time }}</li>
    {% endfor %}
</ul>

<h2>Reservations</h2>
<ul class="list-group mb-4">
    {% for res in reservations %}
        <li class="list-group-item">{{ res.user.username }} reserved {{res.seat.seat_number }} for {{res.seat.showtime.movie.title }}</li>
    {% endfor %}
</ul>

<h2> Users</h2>
<ul class="list-group">
    {% for user in users %}        
        <li class="list-group-item d-flex justify-content-between">
            {{ user.username }} <a href='#' class="btn btn-sm btn-outline-primary">Promote</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}